<p>Hero Component</p>

<p>HERO COMPONENT START /////////////////////////////////////////</p>

<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
</div>

<p>heros-component.hero-list</p>

<h2>Heros List</h2>
<ul class="heros" *ngFor="let hero of heros">
  <li>
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<h1>WHAT THE FUCK!!!!!</h1>

<div *ngIf="selectedHero">

<p>heros-component.selected.name input</p>

<h2>{{selectedHero.name | uppercase}} Selected Hero Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </label>
</div>

</div>

<p>heros-component app-hero-detail element</p>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<p>HERO COMPONENT END /////////////////////////////////////////</p>
